button {
  background: $primaire;
  background: linear-gradient(4deg, $primaire 0%, $secondaire 100%);
  border-radius: 25px;
  border: none;
  box-shadow: $shadow;
  color: #fff;
  padding: 1rem;
  &:hover {
    background: linear-gradient(
      4deg,
      lighten($primaire, 5%) 0%,
      lighten($secondaire, 5%) 100%
    );
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.66);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
