button {
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    4deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
}
