/* Pages des restaurants */
/* version mobile */
.entete {
  &__logo {
    position: relative;
    &__desc {
      position: absolute;
      background: #fff;
      width: 100%;
      bottom: 0;
      border-radius: 25px 25px 0 0;
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;

      &-heart {
        align-self: center;
        & .fas.fa-heart {
          display: none;
        }
        &:hover .far.fa-heart {
          display: none;
        }
        &:hover .fas.fa-heart {
          display: block;

          color: $primaire;
        }
      }
    }
  }
}
.menu {
  margin: 1.5rem 0 2rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__entree {
    margin-bottom: 2rem;

    &__title {
      position: relative;
      & h4 {
        margin-bottom: 1.5rem;
      }
      & span {
        @include souligner;
      }
    }
  }

  &__card-bloc {
    border-radius: 20px;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;

    &:nth-child(1) {
      animation: menu 0.8s ease-in 0.1s; /* arrivée des menus */
    }
    &:nth-child(2) {
      animation: menu 0.8s ease-in 0.12s;
    }
    &:nth-child(3) {
      animation: menu 0.8s ease-in 0.15s;
    }
    &:nth-child(4) {
      animation: menu 0.8s ease-in 0.2s;
    }
    &__desc {
      margin-left: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1rem;
      & h4 {
        padding-bottom: 0.3rem;
      }
      &-bloc {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      &--detail {
        font-size: 0.9rem;
        @include suspension;
      }
      & span {
        font-weight: bolder;
        margin-left: 0.2rem;
      }
    }
    &__check {
      background-color: $tertiaire;
      border-radius: 0 20px 20px 0;
      position: absolute;
      right: -57px;
      height: 100%;
      padding: 1.55rem 1rem;
      & .fa-check-circle {
        color: #fff;
        font-size: 1.5em;
        background: $tertiaire;
      }
    }

    &:hover &__desc--detail {
      width: 200px;
    }
    &:hover &__check {
      animation: slidein 0.5s;
      position: relative;
      right: 0;
      & .fa-check-circle {
        animation: rotation 0.5s;
      }
    }
  }
  &__plat {
    margin-bottom: 2rem;
    &__title {
      position: relative;
      & h4 {
        margin-bottom: 1.5rem;
      }
      & span {
        @include souligner;
      }
    }
  }
  &__dessert {
    &__title {
      position: relative;
      & h4 {
        margin-bottom: 1.5rem;
      }
      & span {
        @include souligner;
      }
    }
  }
  &__btn {
    width: 150px;
    margin: 2rem auto;
    display: block;
  }
}

@media screen and(min-width:768px) {
  .entete {
    width: 90%;
    margin: 0 auto 1.5rem auto;
    &__logo {
      margin: 0 8%;
      display: flex;
      justify-content: center;

      &__img {
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        height: 360px;
      }
    }
  }
  .menu {
    width: 80%;
    margin: 0 auto;
    &__card-bloc {
      &__desc--detail {
        overflow: visible;
        width: 100%;
        max-width: 400px;
        font-size: 12px;
      }
    }
    &__btn {
      width: 25%;
      margin-bottom: 2rem;
    }
  }
}
@media screen and(min-width:992px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .entete {
    width: 100%;
    margin: 0 auto 2rem auto;
  }
  .menu {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 2rem;
    &__entree {
      width: 100%;
    }
    &__plat {
      width: 100%;
    }
    &__dessert {
      width: 100%;
    }
    &__box {
      max-width: 100%;
      min-width: 300px;
    }
    &__card-bloc {
      border-radius: 20px 20px 20px 20px;

      & h4 {
        width: 100%;
        @include suspension;
      }
      &__desc {
        margin-left: 0;
      }
      &:hover &__desc--detail {
        @include suspension;
      }
      &__desc-bloc {
        flex-direction: row;
      }
    }
  }
}
@media screen and(min-width:1440px) {
  .menu {
    width: 80%;
    &__card-bloc__desc--detail {
      font-size: 15px;
    }
  }
}
