/* apparition du check des menus*/
@keyframes slidein {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
/** rotation du check des menus*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* appartition des menus */
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* le loader */
@keyframes loading {
  0% {
    color: $primaire;
    text-shadow: 0 6px 8px darkgrey;
  }
  90% {
    color: $secondaire;
  }
  100% {
    color: $primaire;
  }
}
/* diparition du loader */
@keyframes chargement {
  0% {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(204, 200, 200, 0.671);
  }
  99% {
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    z-index: -10;
    position: absolute;
  }
}
/* Le coeur */
@keyframes heart {
  0% {
    opacity: 0;
    color: $primaire;
  }
  50% {
    color: lighten($primaire, 10);
  }
  100% {
    color: $secondaire;
    opacity: 1;
  }
}
