/* Souligne les titres dans la partie restaurant */
@mixin souligner {
  position: absolute;
  bottom: -7px;
  left: 0;
  background-color: $tertiaire;
  width: 2.5em;
  height: 3px;
  display: inline;
}
/* place des points de suspension sur un texte*/
@mixin suspension {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
