.footer {
  background-color: #353535;
  padding: 1.5em 1em;
  &__title {
    letter-spacing: 1.2px;
    font-weight: lighter;
    width: 6rem;
    &__logo {
      filter: invert(100%);
    }
  }
  &__list-box li {
  }
  &__list-box li a {
    color: #fff;
  }
}
