.footer {
  background-color: #353535;
  padding: 1.5em 2em;

  &__title {
    letter-spacing: 1.2px;
    font-weight: lighter;
    width: 6rem;
    &__logo {
      filter: invert(100%);
    }
  }

  &__list-box li a {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    &__title {
      width: 20%;
    }
  }
}
@media screen and (min-width: 992px) {
  .footer {
    border-radius: 25px 25px 0 0;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 2rem;

    &__title {
      width: 10rem;
    }
  }
}
